<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-stripe-terminal" version="0.0.1">
    <name>Stripe Terminal</name>
    <description>Cordova Stripe Terminal Plugin</description>
    <license>MIT</license>
    <keywords>cordova,stripe,stripe-terminal</keywords>

    <js-module src="www/Terminal.js" name="StripeTerminal">
        <clobbers target="StripeTerminal" />
    </js-module>

    <platform name="ios">
        <podspec>
            <config>
                <source url="https://github.com/cocoapods/specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="StripeTerminal" spec="1.0.0-rc1" />
                <pod name="Alamofire" spec="4.7.0" />
            </pods>
        </podspec>
        
        <config-file target="config.xml" parent="/*">
            <feature name="StripeTerminal">
                <param name="ios-package" value="CDVStripeTerminal" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVStripeTerminal.swift" />
        <source-file src="src/ios/TokenProvider.swift" />

        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>

    <!-- <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaTerminal">
                <param name="android-package" value="io.event1.cordova.stripe.CordovaTerminal"/>
            </feature>
        </config-file>

        <source-file src="src/android/io/event1/cordova/stripe/CordovaTerminal.java" target-dir="src/io/event1/cordova/stripe" />
        <source-file src="src/android/io/event1/cordova/stripe/TokenProvider.java" target-dir="src/io/event1/cordova/stripe" />

        <framework src="com.jakewharton.timber:timber:4.7.1" />
        <framework src="com.google.dagger:dagger:2.17" />
        <framework src="com.squareup.okhttp3:okhttp:3.11.0" />
        <framework src="com.google.guava:guava:26.0-android" />
        <framework src="com.stripe:stripeterminal:0.5.1" />
    </platform> -->
</plugin>
